# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/

# Tools
.mypy_cache/
.ruff_cache/
.pytest_cache/
.hypothesis/
.import_linter_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Local env
.env
